@mixin square ($value) {
  width: $value;
  height: $value;
}

@mixin py ($value) {
  padding-top: $value!important;
  padding-bottom: $value!important;
}

@mixin px ($value) {
  padding-left: $value!important;
  padding-right: $value!important;
}

@mixin my ($value) {
  margin-top: $value!important;
  margin-bottom: $value!important;
}

@mixin mx ($value) {
  margin-left: $value!important;
  margin-right: $value!important;
}
